[Unit]
Description=AikoR Service
After=network.target nss-lookup.target
Wants=network.target

[Service]
User=root
Group=root
Type=simple
LimitAS=infinity
LimitRSS=infinity
LimitCORE=infinity
LimitNOFILE=infinity
LimitNPROC=10000
LimitNOFILE=1000000
WorkingDirectory=/usr/local/AikoR/
ExecStart=/usr/local/AikoR/AikoR -config /etc/AikoR/aiko.yml
Restart=on-failure
RestartSec=10
Environment="XRAY_VMESS_AEAD_FORCED=false"

[Install]
WantedBy=multi-user.target